@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.cdnfonts.com/css/blobby-chug');


@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

:root {
    --gradient-color-1: #f5b30c;
    --gradient-color-2: #e21e80;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow: -moz-scrollbars-vertical;
    overflow-y: auto; */
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
}

.shadow-xl {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Contoh bayangan dengan warna dan transparansi tertentu */
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #f5b30c 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gold {
    color: #EBBE66;
}

.text-gradient-color-with-shadow {
    background: -webkit-linear-gradient(315deg, #f5b30c 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Menambahkan efek bayangan ke teks */
    filter: drop-shadow(10px 10px 5px rgba(75, 64, 64, 0.429));
}

.text-gradient-color-with-shadow::after {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /* Atur z-index menjadi lebih rendah dari teks utama */
    color: transparent;
    background: -webkit-linear-gradient(315deg, #f5b30c 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CSS untuk teks gradient dengan shadow */
.text-gradient-scarlet-with-shadow {
    position: relative;
    display: inline-block;
    color: #330000;
    /* Warna teks */
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /* Bayangan teks */
}

.text-gradient-gold-with-shadow {
    position: relative;
    display: inline-block;
    color: #EBBE66;
    /* Warna teks */
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /* Bayangan teks */
}

.text-gradient-gold-with-shadow::after {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    color: transparent;
    background: -webkit-linear-gradient(315deg, rgb(219, 113, 0) 0%, rgb(226, 189, 140) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mp-visi {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tk-kingkid {
    height: 110vh;
    max-height: 110vh;
    /* menampilkan gambar serta memberikan warna hitam transparan */
    background: url('../assets/image/IMG20230303085132.jpg') rgba(0, 0, 0, 0.592);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.tk-bgvisi {
    height: 100vh;
    min-height: 100vh;
    /* Adjust height as needed */
    background: var(--background) rgba(0, 0, 0, 0);
    padding: 10px 0;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tk-bgabout {
    height: 35vh;
    background: var(--background) rgba(255, 252, 252, 0);
    padding: 100px 0;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tk-bgaboutme {
    background: var(--background) rgba(255, 252, 252, 0);
    padding: 100px 0;
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tk-bgimage {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background) rgba(255, 252, 252, 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* Taruh di bawah konten utama */
}

@media (max-width: 989px) {
    .tk-bgimage {
        width: auto;
        height: 170vh;
    }

    .scroll-history {
        height: 30vh;
        /* Atur ketinggian maksimum untuk daftar misi */
        overflow-y: auto;
        /* Tambahkan overflow-y untuk scroll jika konten terlalu panjang */
    }

    .contact-map {
        width: 140px;
    }
}

@media (max-width: 767px) {
    .tk-bgimage {
        width: auto;
        height: 135vh;
    }

    .scroll-history {
        height: 100vh;
        /* Atur ketinggian maksimum untuk daftar misi */
        overflow-y: auto;
        /* Tambahkan overflow-y untuk scroll jika konten terlalu panjang */
    }

    .contact-map {
        width: 150vw;
    }
}

@media (max-width: 565px) {
    .tk-bgimage {
        width: auto;
        height: 110vh;
    }

    .scroll-history {
        height: 80vh;
        /* Atur ketinggian maksimum untuk daftar misi */
        overflow-y: auto;
        /* Tambahkan overflow-y untuk scroll jika konten terlalu panjang */
    }
}

@media (max-width: 375px) {
    .tk-bgimage {
        width: auto;
        height: 90vh;
    }

    .scroll-history {
        height: 60vh;
        /* Atur ketinggian maksimum untuk daftar misi */
        overflow-y: auto;
        /* Tambahkan overflow-y untuk scroll jika konten terlalu panjang */
    }
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-shared {
    display: inline-block;
    margin-right: 10px;
}

.icon-social {
    margin-right: 5px;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.navbar-dark .navbar-toggler-icon {
    background-color: #f1f3f500;
}

.bg-visimisi {
    background: #ffdd00;
    background: linear-gradient(135deg, #ffdd00 0%, #c98806 100%);
}

.bg-gradient-warning-to-secondary {
    /* background: #3a2900; */
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
}

.bg-gradient-peace-to-secondary {
    background: #FFE4C9;
    background: linear-gradient(135deg, #FFE4C9 0%, #E78895 100%);
}

.btn-gradient {
    background: linear-gradient(90deg, #f5b30c, #e21e80);
    color: #fff;
    border-color: #fff;
    /* Warna border agar menyatu dengan background */
}

.f-brandSchool {
    font-family: 'Itim', cursive;
    /* font-size: 100px; */
}

.f-textSchool {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 900;
}

.f-patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

ol.f-patrick-hand-regular,
ol.f-patrick-hand-regular li {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.f-plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.profile-img {
    height: auto;
    width: 100%;
}

.circle {
    width: 25%;
    height: 15vh;
    /* Menggunakan viewport height untuk tinggi responsif */
    background-color: rgba(255, 204, 0, 0.578);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1vw, 2vh);
    /* Menggunakan viewport width dan height untuk translasi responsif */
    z-index: 3;
}

.circle2 {
    width: 15vh;
    height: 15vh;
    /* Menggunakan viewport height untuk tinggi responsif */
    background-color: rgba(255, 55, 0, 0.556);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10vw, -20vh) rotate(45deg);
    /* Menggunakan viewport width dan height untuk translasi responsif */
    z-index: 1;
}

@media (min-width: 768px) {
    .rounded-circle {
        width: 26vw;
        height: 26vh;
    }

    .circle,
    .circle2 {
        width: 10vw;
        height: 10vh;
    }

    .circle {
        transform: translate(5vw, 3vh);
    }

    .circle2 {
        transform: translate(-14vw, -15vh)
    }
}

@media (min-width: 1000px) {
    .rounded-circle {
        width: 28vw;
        height: 35vh;
    }

    .circle,
    .circle2 {
        width: 12vw;
        height: 16vh;
    }

    .circle {
        transform: translate(5vw, 3vh);
    }

    .circle2 {
        transform: translate(-14vw, -20vh)
    }
}

@media (min-width: 1200px) {
    .rounded-circle {
        width: 30vw;
        height: 30vh;
    }

    .circle,
    .circle2 {
        width: 15vw;
        height: 15vh;
    }

    .circle2 {
        transform: translate(-16vw, -20vh)
    }
}

@media (min-width: 1398px) {
    .rounded-circle {
        width: 35vw;
        height: 50vh;
    }

    .circle,
    .circle2 {
        width: 14vw;
        height: 23vh;
    }

    .circle {
        transform: translate(7vw, 2vh);
    }

    .circle2 {
        transform: translate(-17vw, -30vh)
    }
}

.navbar-toggler-icon {
    background-color: #aaaaaa;
    /* Warna ikon toggler */
}

/* Menu dropdown hover */
.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.996);
    /* Warna background dropdown dengan opacity 50% */
    /* border: none; */
    border-top: 5px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
    border-image-slice: 1;
    padding-top: 5px;
    /* Untuk menyesuaikan ketinggian border-top */
}

.dropdown-item {
    color: #495057;
    /* Warna teks dropdown item */
}

.dropdown-menu li {
    border-bottom: 1px solid #dee2e6;
    /* Warna garis sesuaikan dengan kebutuhan */
    padding: 8px 16px;
    /* Sesuaikan padding sesuai kebutuhan */
    transition: background-color 0.3s;
    /* Efek transisi warna background saat hover */
}

/* Menghapus border-bottom pada elemen li terakhir */
.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li:hover {
    background-color: #f8f9fa;
    /* Warna background saat hover */
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(226, 30, 128), var(--bs-text-opacity) !important;
}

.mt-6 {
    margin-top: 8rem !important;
}

@media (max-width: 1165px) {
    .logoTKhover {
        display: none;
    }
}

/* Custom CSS vertikal kanan-kiri Timeline dengan Dots */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    width: 2px;
    background: #f5b30c;
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-dot {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 20px;
    height: 20px;
    background-color: #f5b30c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.timeline-item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.timeline-item-content {
    padding-left: 5%;
    max-width: 60%;
}

.timeline-item-date {
    flex: 0 0 30%;
    text-align: right;
    color: #6c757d;
}

.timeline-item-img {
    width: 100px;
    /* Sesuaikan lebar gambar sesuai kebutuhan */
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

/* Custom styles */
.card-slider {
    max-width: 100%;
}

/* .carousel-item  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} */

.testimonial-card {
    border: none;
    background-color: #f8f9fa;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.testimonial-img {
    border: 5px;
    width: 30vh;
    height: 30vh;
    /* Menggunakan auto untuk menjaga proporsi aspek gambar */
    border-radius: 50%;
    margin-bottom: 20px;
    outline: 5px solid #ffc1076c;
}

.testimony-text {
    max-width: 500px;
    /* Atur lebar maksimum yang diinginkan */
    margin-left: auto;
    margin-right: auto;
    /* Untuk membuat paragraf berada di tengah */
}

.nav-tabs .nav-link {
    border: none;
    background-color: transparent;
    color: #555;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: #e21e80;
}

.nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
}

.nav-tabs .nav-link {
    border: none;
    background-color: transparent;
    color: #555;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: #e21e80;
}

.nav-tabs .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
}

/* komen */
.nav-pills .nav-link {
    border: none;
    background-color: transparent;
    color: #555;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    color: #e21e80;
}

.nav-pills .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
}

.nav-pills .nav-link {
    border: none;
    background-color: transparent;
    color: #555;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    color: #e21e80;
}

.nav-pills .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(135deg, #f5b30c 0%, #e21e80 100%);
}

/* end */

.tab-pane {
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gaya CSS untuk membuat bagian Misi lebih responsif */
@media (max-width: 768px) {
    .mission-list {
        max-height: 300px;
        /* Atur ketinggian maksimum untuk daftar misi */
        overflow-y: auto;
        /* Tambahkan overflow-y untuk scroll jika konten terlalu panjang */
    }

    .fs-6.list-numbered {
        font-size: 0.9rem;
        /* Ubah ukuran font menjadi lebih kecil */
    }
}

/* Media query tambahan jika diperlukan untuk lebar layar yang lebih kecil */
@media (max-width: 576px) {
    .fs-6.list-numbered {
        font-size: 0.8rem;
        /* Ukuran font lebih kecil untuk layar yang lebih kecil */
    }
}

.gallery {
    position: relative;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery:hover img {
    transform: scale(1.1);
}

.gallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery:hover .overlay {
    opacity: 1;
}